@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular.woff2') format('woff2'),
         url('roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
	
@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium.woff2') format('woff2'),
         url('roboto-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold.woff2') format('woff2'),
         url('roboto-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
	
body {
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: regular;
	color: #000000;
	
	background-color: #ffffff;
}

.main-header {
	background-color: #eeeeee;
}

a {
	font-weight: bold;
	text-decoration: none;
}

.button {
	font: inherit;
	line-height: 18px;
	font-weight: middle;
	
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	
	background-color: #fb565a;
	border: none;
	border-radius: 2px;
}

.button:hover {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #d7373b;
}

.button-green {
	background-color: #00ca74;
}

.button-green:hover {
	background-color: #00bc6c;
}

.button-green:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #00aa62;
}

.button-yellow {
	background-color: #efc84a;
}

.button-yellow:hover {
	background-color: #eab534;
}

.button-yellow:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #e5a722;
}

.main-navigation {
	line-height: 30px;
	text-transform: uppercase;
}

.site-navigation {
	list-style: none;
}

.site-navigation a,
.basket {
	color: #000000;
}

.site-navigation a:hover,
.basket:hover {
	color: #fb565a;
}

.site-navigation a:active,
.basket:active {
	color: #oooooo;
	opacity: 0.3;
}

.main-header h1,
.slider b {
	font-size: 55px;
	line-height: 55px;
}

.slider-1 {
	margin-bottom: 0;
	background-image: url("../img/nerds-index-slide1.png");
	background-position: 94% 10%;
	background-repeat: no-repeat;
	background-size: 688px 413px;
}

.slider-2 {
	margin-bottom: 0;
	background-image: url("../img/nerds-index-slide2.png");
	background-position: 100% 10%;
	background-repeat: no-repeat;
	background-size: 663px 430px;
}

.slider-3 {
	margin-bottom: 0;
	background-image: url("../img/nerds-index-slide3.png");
	background-position: 100% 12%;
	background-repeat: no-repeat;
	background-size: 759px 411px;
}

.projects-list {
	list-style: none;
}

.projects-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.studio b {
	font-size: 45px;
	line-height: 45px;
}

.studio h3 {
	text-transform: uppercase;
}

.studio ul {
	list-style: none;
}

.studio caption {
	font-weight: bold;
	text-transform: uppercase;
}

.studio th {
	font-size: 45px;
	line-height: 1.7;
	font-weight: bold;
	vertical-align: middle;
}

.studio td {
	line-height: 18px;
}

.logos {
	list-style: none;
}

.logo {
	opacity: 0.2;
}

.logo:hover {
	opacity: 1;
}

.logo:active {
	opacity: 0.1;
}

.filters-form fieldset{
	border: none;
}

.filters-form legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.filters-form p {
	line-height: 20px;
	color: #283136;
}

.filter-cost p {
	line-height: 22px;
}

.filter-cost input[type="text"] {
	background-color: #eeeeee;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: rgba(40, 49, 54, 0.3);
}

.button-show {
	color: #000000;
	background-color: #eeeeee;
}

.button-show:hover {
	background-color: #dfdfdf;
}

.button-show:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}
.results h3 {
	font-size: 18px;
	line-height: 18px;
	
	text-transform: uppercase;
}

.results ul{
	list-style: none;
}

.results a {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}

.results a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.results a:active {
	color: #000000;
}

.description {
	background-color: #eeeeee;
}

.description h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	
	color: #000000;
	text-transform: uppercase;
}

.description p {
	line-height: 18px;
	color: #666666;
}

.pagination-list {
	list-style: none;
}

.pagination-item a {
	line-height: 18px;
	font-weight: medium;
	
	color: #000000;
	background-color: #eeeeee;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}

.pagination-item-current a {
	background-color: #ffffff;
	border: 2px solid #eeeeee;
}

.pagination-item-current a:hover,
.pagination-item-current a:active {
	background-color: #ffffff;
	border: 2px solid #eeeeee;
}

.footer-contacts {
	background-color: #ffffff;
}

.results {
	list-style: none;
}

.footer-contacts h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.footer-contacts p {
	line-height: 18px;
}

.footer-social {
	list-style: none;
	
	text-align: center;
	background-color: #e1e1e1;
}

.social-button {
	color: #ffffff;
}

.main-footer b {
	font-size: 36px;
	line-height: 36px;
}

.discount {
	line-height: 22px;
}

.modal-letter {
	background-color: #ffffff;
}

.modal-letter h2 {
	font-size: 45px;
	line-height: 45px;
}

.letter-form p {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.letter-form input[type="text"],
.letter-form input[type="email"],
.letter-form textarea {
	border: 2px solid #d7dcde;
}

.letter-form input[type="text"]:hover,
.letter-form input[type="email"]:hover,
.letter-form textarea:hover {
	border: 2px solid #b4b9bb;
}

.letter-form input[type="text"]:focus,
.letter-form input[type="email"]:focus,
.letter-form textarea:focus {
	border: 2px solid #000000;
}

.letter-form input[type="text"]:invalid,
.letter-form input[type="email"]:invalid {
	border: 2px solid #e74246;
}

