@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular.woff2") format("woff2"),
         url("../fonts/roboto-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
	
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-medium.woff2") format("woff2"),
         url("../fonts/roboto-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-bold.woff2") format("woff2"),
         url("../fonts/roboto-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
	
body {
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	
	background-color: #ffffff;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	min-height: 545px;
	min-width: 1440px;
	
	background-color: #eeeeee;
}

.shop{
	min-height: 356px;
}

.shop h1 {
	padding-top: 28px;
	
	text-align: center;
}

a {
	font-weight: 700;
	text-decoration: none;
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation-current a {
	padding-bottom: 8px;
	
	border-bottom: 2px solid red;
}

.button {
	padding: 15px 40px;
	
	font: inherit;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #ffffff;
	
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
}

.button:hover {
	background-color: #e74246;
}

.button:active {
	color: #ffffff;
	opacity: 0.3;
	
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 #c13135;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	padding-top: 49px;
	
	line-height: 30px;
	text-transform: uppercase;
}

.site-navigation {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 440px;
	padding-top: 10px;
	padding-left: 9px;
	
	list-style: none;
}

.site-navigation li {
	margin-right: 46px;
}

.site-navigation li:last-of-type {
	margin-right: 0;
}

.site-navigation a,
.basket {
	width: 100px;
	
	font-weight: 400;
	color: #000000;
}

.site-navigation a:hover,
.basket:hover {
	color: #fb565a;
}

.site-navigation a:active,
.basket:active {
	color: #000000;
	opacity: 0.3;
}

.basket {
	position: relative;
	
	width: 160px;
	padding-top: 26px;
	
	text-align: right;
}

.basket::before {
	content: "";
	position: absolute;
	top: 33px;
	left: 45px;
	
	width: 15px;
	height: 15px;
	
	background-image: url("../img/cart-icon.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-color: #eeeeee;
	opacity: 0.3;
}

.main-header h1,
.slider b {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.top-slider {
	position: relative;
	min-height: 422px;
	margin-bottom: 80px;
}

.slide-control:first-of-type:checked ~ .slider-1,
.slide-control:nth-of-type(2):checked ~ .slider-2,
.slide-control:last-of-type:checked ~ .slider-3 {
	display: block;
}

.slide-control {
	display: none;
}

.slider-indicator {
	position: absolute;
	bottom: 96px;
	left: 51%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.slider-indicator label {
	position: relative;
	display: block;
	margin-right: 19px;
	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border-radius: 50%;
	font-size: 0;
	cursor: pointer;
}

.slide-control:first-of-type:checked ~ .slider-indicator label:first-of-type::after,
.slide-control:nth-of-type(2):checked ~ .slider-indicator label:nth-of-type(2)::after,
.slide-control:last-of-type:checked ~ .slider-indicator label:last-of-type::after {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%);
	display: block;
	content: "";
	width: 4px;
	height: 4px;
	background-color: #ffffff;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider {
	display: none;
	min-height: 422px;
}

.slider-1 {
	background-image: url("../img/nerds-index-slide1.png");
	background-position: 397px -9px;
	background-repeat: no-repeat;
}

.slider-1 b {
	display: flex;
	width: 400px;
	padding-top: 66px;
}

.slider-1 p {
	width: 380px;
	padding-top: 12px;
	padding-bottom: 25px;
}

.slider-2 {
	background-image: url("../img/nerds-index-slide2.png");
	background-position: 401px -10px;
	background-repeat: no-repeat;
}

.slider-2 b {
	display: flex;
	width: 540px;
	padding-top: 66px;
}

.slider-2 p {
	width: 430px;
	padding-top: 12px;
	padding-bottom: 25px;
}

.slider-3 {
	background-image: url("../img/nerds-index-slide3.png");
	background-position: 401px -10px;
	background-repeat: no-repeat;
}

.slider-3 b {
	display: flex;
	width: 430px;
	padding-top: 66px;
}

.slider-3 p {
	width: 360px;
	padding-top: 12px;
	padding-bottom: 25px;
}

.button-discover {
	display: block;
	width: 240px;
	padding: 15px 0;
}

.projects-list {
	display: flex;
	justify-content: space-between;
	width: 1100px;
	margin-bottom: 93px;
	padding: 0;
	
	list-style: none;
}

.projects-item h3 {
	margin: 0;
	padding-top: 18px;
	
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.projects-item {
	width: 300px;
}

.projects-item p {
	width: 260px;
	padding-bottom: 30px;
}

.button-green {
	background-color: #00ca74;
}

.button-green:hover {
	background-color: #00bc6c;
}

.button-green:active {
	color: #ffffff;
	opacity: 0.3;
	
	background-color: #00aa62;
	box-shadow: inset 0 3px 0 0 #009958;
}

.button-yellow {
	background-color: #efc84a;
}

.button-yellow:hover {
	background-color: #eab534;
}

.button-yellow:active {
	color: #ffffff;
	opacity: 0.3;
	
	background-color: #e5a722;
	box-shadow: inset 0 3px 0 0 #ce961f;
}

.studio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	border-top: 2px solid #eeeeee;
}

.studio b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.studio h3 {
	padding-top: 23px;
	
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.studio p {
	padding-top: 15px;
}

.studio caption {
	padding-top: 30px;
	padding-bottom: 55px;
	
	font-weight: 700;
	text-transform: uppercase;
}

.studio th{
	padding-right: 11px;

	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
	vertical-align: middle;
	text-align: left;
}

.studio td {
	padding-top: 35px;
	
	line-height: 18px;
}

.studio-column:first-of-type {
	width: 660px;
	padding-top: 72px;
}

.studio-column:last-of-type {
	width: 360px;
	padding-top: 40px;
}

.studio-column li {
	position: relative;
	
	margin-top: 25px;
	
	list-style: none;
}

.studio-column li::before {
	content: "";
	position: absolute;
	top: 12px;
	left: -38px;
	
	width: 25px;
	height: 2px;
	
	background-color: #fb565a;
}

.logos {
	display: flex;
	width: 1160px;
	min-height: 180px;
	margin-top: 56px;
	margin-bottom: 80px;
	padding: 0;
	
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	
	list-style: none;
}

.logo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-right: 39px;
	
	opacity: 0.2;
}

.logo::before {
	display: block;
	content: "";
	border-right: 2px solid #000000;
	height: 52px;
}

.logos-item:first-of-type .logo::before {
	display: block;
	content: "";
	border-right: none;
	height: 52px;
}

.logo:hover {
	opacity: 1;
}

.logo:active {
	opacity: 0.1;
}

.filters-form {
	display: flex;
	flex-direction: column;
	
	width: 260px;
}

.filters-form fieldset{
	border: none;
}

.filters-form legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.filters-form p {
	color: #283136;
}

.filter-cost {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	padding: 0;
}

.filter-cost-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.range {
	position: relative;
	width: 260px;
	height: 80px;
	margin-top: 50px;
	
	background-color: #eeeeee;
	border-radius: 3px;
}

.range-button {
	position: absolute;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	width: 3px;
	height: 3px;
	background-color: #ababab;
	border: 8.5px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 2px 0 0 #cfcfcf;
}

.range-button-from {
	left: 17px;
}

.range-button-to {
	left: 160px;
}

.range-line-fill {
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	left: 24.5px;
	right: 90px;
	height: 2px;
	background-color: #00ca74;
}

.range-line {
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	left: 24.5px;
	right: 21px;
	height: 2px;
	background-color: #d7dcde;
}

.filter-cost p {
	width: 111px;
	margin: 0;
	margin-top: 13px;
	
	line-height: 22px;
	text-transform: uppercase;
}

.filter-cost input {
	box-sizing: border-box;
	width: 80px;
	padding: 8px 0;
	border-radius: 3px;
	border: none;
	text-align: center;
}

.filter-cost input[type="text"] {
	font: inherit;
	line-height: 22px;
	
	color: #283136;
	background-color: #eeeeee;
}

.filter-grid {
	padding: 0;
	margin-top: 52px;
}

.filter-feature {
	padding: 0;
	margin-top: 25px;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
	outline: none;
}

.filter-input:disabled + label {
	color: #283136;
	opacity: 0.3;
}

.filter-input {
	display: none;
}

.filter-input + label {
	position: relative;
}

.filter-input[type="checkbox"] + label::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	width: 27px;
	height: 23px;
	background: url(../img/checkbox-off.svg) 0 0 no-repeat;
	opacity: 0.4;
}

.filter-input[type="checkbox"]:checked + label::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	width: 27px;
	height: 23px;
	background: url(../img/checkbox-on.svg) 0 0 no-repeat;
	opacity: 0.4;
}


.filter-input[type="radio"] + label::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	width: 17px;
	height: 17px;
	background-color: #ffffff;
	border: 4px solid #a6a6a6;
	border-radius: 50%;
}

.filter-input[type="radio"]:checked + label::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	width: 17px;
	height: 17px;
	background-color: #ffffff;
	border: 4px solid #a6a6a6;
	border-radius: 50%;
	opacity: 0.4;
}

.filter-input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: 7.6px;
	left: 8.2px;
	margin-right: 10px;
	width: 9px;
	height: 9px;
	background-color: #a6a6a6;
	border-radius: 50%;
	opacity: 0.4;
}

.filter-input:disabled + label {
	color: #283136;
	opacity: 0.3;
}

.filter-input[type="radio"]:hover + label::before,
.filter-input[type="radio"]:hover + label::after,
.filter-input[type="checkbox"]:hover + label::before{
	opacity: 1;
}

.filter-input[type="radio"]:disabled + label::before,
.filter-input[type="radio"]:disabled + label::after,
.filter-input[type="checkbox"]:disabled + label::before{
	opacity: 0.1;
}

.button-show {
	margin-top: 34px;
	
	color: #000000;
	background-color: #eeeeee;
	box-shadow: none;
}

.button-show:hover {
	background-color: #dfdfdf;
}

.button-show:active {
	color: #000000;
	opacity: 0.3;
	
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.inner-page {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.catalog {
	display: flex; 
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

.results {
	display: flex;
	margin-bottom: 10px;
	list-style: none;
}

.results h3 {
	font-size: 18px;
	line-height: 18px;
	margin-right: 220px;
	
	text-transform: uppercase;
}

.results ul{
	list-style: none;
}

.results a {
	font-size: 14px;
	line-height: 18px;
	
	color: #000000;
	opacity: 0.3;
	text-transform: uppercase;
}

.results a:hover {
	color: #000000;
	opacity: 0.6;
}

.results a:active {
	color: #000000;
}

.sort-price.active {
	color: #000000;
	opacity: 1;
}

.sort-list {
	display: flex;
	justify-content: space-between;
	width: 265px;
	font-weight: 400;
}

.decrease-ascending {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.decrease-ascending li {
margin-left: 15px;
}

.decrease-ascending .ascending,
.decrease-ascending .decrease {
	opacity: 1;
}

.ascending {
	display: block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #a6a6a6;
}

.decrease {
	display: block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #a6a6a6;
}

.ascending.active {
	border-bottom: 10px solid #010101;
}

.decrease.active {
	border-top: 10px solid #010101;
}

.templates {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 760px;
}

.catalog-item {
	position: relative;
	
	width: 360px;
	height: 576px;
	margin-top: 67px;
	border: 1px solid #eeeeee;
}

.catalog-item img {
	width: 360px;
	height: 576px;
}
.catalog-item::before {
	content: "";
	position: absolute;
	top: -40px;
	
	width: 360px;
	height: 40px;
	
	background-image: url("../img/browser.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.12;
	
}

.catalog-item:hover::before {
	box-shadow: 0 6px 15px rgba(0,0,0,0.25);
	opacity: 1;
	z-index: -1;
}

.catalog-item:hover {
	box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.catalog-item .button {
	width: 120px;
}

.description {
	position: absolute;
	bottom: 0;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 360px;
	min-height: 230px;
	
	background-color: #eeeeee;
	display: none;
}

.catalog-item:hover .description {
	display: flex;
}

.description h3 {
	margin-top: 21px;
	margin-bottom: 0;
	
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	
	color: #000000;
	text-transform: uppercase;
}

.description p {
	margin-bottom: 30px;
	
	text-align: center;

	line-height: 18px;
	color: #666666;
}

.pagination-list {
	display: flex;
	justify-content: space-between;
	align-self: right;
	padding-left: 0;
	width: 440px;
	margin-top: 80px;
	margin-bottom: 70px;
	margin-right: 320px;
	
	list-style: none;
}

.pagination-item a {
	line-height: 18px;
	font-weight: 500;
	padding: 14px 20px;

	color: #000000;
	background-color: #eeeeee;
}

.next a {
	width: 260px;
	padding-left: 75px;
	padding-right: 75px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	color: #000000;
	opacity: 0.3;
	
	background-color: #d5d5d5;
	opacity: 1;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.pagination-item-current a {
	padding: 11px 18px;
	background-color: #ffffff;
	border: 3px solid #eeeeee;
}

.pagination-item-current a:hover,
.pagination-item-current a:active {
	padding: 11px 18px;
	background-color: #ffffff;
	border: 3px solid #eeeeee;
}

.modal-map {
	position: relative;
	min-height: 420px;
}

.modal-map img {
	display: block;
	margin: auto;
}

.interactive-map {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 420px;
	border: none;
}

.interactive-map-container {
	width: 100%;
	height: 100%;
}

.footer-column {
	display: flex;
	padding-bottom: 50px;
}

.footer-contacts {
	position: absolute;
	bottom: 60px;
	left: calc((100% - 1160px)/2);
	z-index: 2;
	
	display: flex;
	flex-direction: column;
	width: 320px;
	height: 308px;
	
	background-color: #ffffff;
}

.footer-contacts h3 {
	margin: 0;
	padding-top: 49px;
	padding-left: 50px;
	
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.footer-contacts .address {
	width: 210px;
	padding-top: 11px;
	padding-left: 52px;
	
	line-height: 18px;
	color: #666666;
}

.footer-contacts .phone {
	margin: 0;
	margin-top: 15px;
	padding-left: 52px;
	
	color: #666666;
}

.button-contacts {
	width: 140px;
	margin-top: 36px;
	margin-left: 50px;
}

.map-marker {
	position: absolute;
	left: 565px;
	bottom: 135px;
	z-index: 1;
	
	width: 367px;
	height: 190px;
	
	background-image: url("../img/map-marker.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	width: 260px;
	padding-top: 49px;
	padding-left: 0;
	
	text-align: center;
	
	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	
	color: #ffffff;
	
	background-color: #e1e1e1;
	border-radius: 50%;
}

.social-button:hover {
	background-color: #e74246;
}

.social-button:active {
	color: #ffffff;
	opacity: 0.3;
	
	background-color: #d7373b;
}

.friends {
	display: flex;
	flex-direction: column;
	width: 560px;
	margin-left: 140px;
	margin-top: 68px;
}

.main-footer b {
	font-size: 36px;
	line-height: 36px;
}

.main-footer p {
	margin: 0;
	margin-top: 12px;
	color: #444444;
}

.discount {
	line-height: 22px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-letter {
	position: fixed;
	top: 50%;
  	margin-top: -325px;
  	left: 50%;
  	margin-left: -455px;
  	bottom: 0;
  	margin-bottom: 125px;
	z-index: 3;

	display: none;
	width: 960px;
	height: 590px;
	
	background-color: #ffffff;
	box-shadow: 0 20px 60px 0 #353535;
}

.modal-letter h2 {
	margin: 0;
	margin-left: 97px;
	margin-top: 65px;
	font-size: 45px;
	line-height: 45px;
}

.letter-form {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-left: 100px;
	margin-top: 27px;
}

.modal-show {
	display: block;
	
	animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.info-column {
	display: flex;
	justify-content: space-between;
	width: 760px;
	margin-bottom: 2px;
}

.letter-form p {
	width: 360px;
	line-height: 18px;
	font-weight: 700;
}

.letter-form input[type="text"],
.letter-form input[type="email"],
.letter-form textarea {
	width: 335px;
	margin-top: 8px;
	padding: 15px 10px;
	
	font: inherit;
	line-height: 18px;
	font-weight: 400;
	
	color: #444444;
	opacity: 0.5;
	
	border: 2px solid #d7dcde;
}

.letter-form textarea {
	width: 735px;
	height: 90px;
	padding: 12px 10px;
}

.letter-form input[type="text"]:hover,
.letter-form input[type="email"]:hover,
.letter-form textarea:hover {
	border: 2px solid #b4b9bb;
}

.letter-form input[type="text"]:focus,
.letter-form input[type="email"]:focus,
.letter-form textarea:focus {
	border: 2px solid #000000;
	outline: none;
}

.letter-form input[type="text"]:invalid,
.letter-form input[type="email"]:invalid,
.letter-form textarea:invalid {
	border: 2px solid #e74246;
}

.letter-form .button {
	width: 260px;
	margin-top: 30px;
}

.button-close {
	position: absolute;
	top: 80px;
	right: 90px;
	width: 22px;
	height: 22px;
	background-color: transparent;
	border: none;
}

.button-close::before,
.button-close::after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 25px;
	height: 3px;
	
	background-color: #fb565a;
	opacity: 0.3;
}

.button.button-close {
	cursor: pointer;
	padding: 0;
	font-size: 0;
}

.button.button-close:active {
	background: none;
	box-shadow: none;
	opacity: 1;
}

.button.button-close:hover {
	background: none;
}

.button-close::before {
	transform: rotate(45deg);
}

.button-close::after {
	transform: rotate(-45deg);
}

.button-close:hover::before,
.button-close:hover::after {
	opacity: 1;
}

.button-close:active::before,
.button-close:active::after {
	opacity: 0.1;
}