@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular.woff2") format("woff2"),
         url("../fonts/roboto-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
	
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-medium.woff2") format("woff2"),
         url("../fonts/roboto-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-bold.woff2") format("woff2"),
         url("../fonts/roboto-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
	
body {
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	
	background-color: #ffffff;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	background-color: #eeeeee;
}

a {
	font-weight: 700;
	text-decoration: none;
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation-current a {
	border-bottom: 1px solid red;
}

.button {
	font: inherit;
	line-height: 18px;
	font-weight: 500;
	
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	
	background-color: #fb565a;
	border: none;
	border-radius: 2px;
}

.button:hover {
	background-color: #e74246;
}

.button:active {
	color: #ffffff;
	opacity: 0.3;
	
	background-color: #d7373b;
}

.button-green {
	background-color: #00ca74;
}

.button-green:hover {
	background-color: #00bc6c;
}

.button-green:active {
	color: #ffffff;
	opacity: 0.3;
	
	background-color: #00aa62;
}

.button-yellow {
	background-color: #efc84a;
}

.button-yellow:hover {
	background-color: #eab534;
}

.button-yellow:active {
	color: #ffffff;
	opacity: 0.3;
	
	background-color: #e5a722;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 5px;
	line-height: 30px;
	text-transform: uppercase;
}

.site-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 450px;
	list-style: none;
}

.site-navigation a,
.basket {
	color: #000000;
}

.site-navigation a:hover,
.basket:hover {
	color: #fb565a;
}

.site-navigation a:active,
.basket:active {
	color: #000000;
	opacity: 0.3;
}

.main-header h1,
.slider b {
	font-size: 55px;
	line-height: 55px;
}

.slider-1 {
	margin-bottom: 0;
	background-image: url("../img/nerds-index-slide1.png");
	background-position: 94% 10%;
	background-repeat: no-repeat;
	background-size: 688px 413px;
}

.slider-2 {
	margin-bottom: 0;
	background-image: url("../img/nerds-index-slide2.png");
	background-position: 100% 10%;
	background-repeat: no-repeat;
	background-size: 663px 430px;
}

.slider-3 {
	margin-bottom: 0;
	background-image: url("../img/nerds-index-slide3.png");
	background-position: 100% 12%;
	background-repeat: no-repeat;
	background-size: 759px 411px;
}

.projects-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	list-style: none;
}

.projects-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.studio b {
	font-size: 45px;
	line-height: 45px;
}

.studio h3 {
	text-transform: uppercase;
}

.studio ul {
	list-style: none;
}

.studio caption {
	font-weight: 700;
	text-transform: uppercase;
}

.studio th {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
	vertical-align: middle;
}

.studio td {
	line-height: 18px;
}

.logos {
	display: flex;
	flex-decoration: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
	list-style: none;
}

.logo {
	opacity: 0.2;
}

.logo:hover {
	opacity: 1;
}

.logo:active {
	opacity: 0.1;
}

.filters-form {
	display: flex;
	flex-direction: column;
}

.filters-form fieldset{
	border: none;
}

.filters-form legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.filters-form p {
	line-height: 20px;
	color: #283136;
}

.filter-cost p {
	line-height: 22px;
	text-transform: uppercase;
}

.filter-cost input[type="text"] {
	font: inherit;
	line-height: 22px;
	
	color: #283136;
	background-color: #eeeeee;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: #283136;
	opacity: 0.3;
}

.button-show {
	color: #000000;
	background-color: #eeeeee;
}

.button-show:hover {
	background-color: #dfdfdf;
}

.button-show:active {
	color: #000000;
	opacity: 0.3;
	
	background-color: #d5d5d5;
}

.inner-page {
	display: flex;
	
}
	
.results {
	display: flex;
}

.results h3 {
	font-size: 18px;
	line-height: 18px;
	
	text-transform: uppercase;
}

.results ul{
	list-style: none;
}

.results a {
	font-size: 14px;
	line-height: 18px;
	
	color: #000000;
	opacity: 0.3;
	text-transform: uppercase;
}

.results a:hover {
	color: #000000;
	opacity: 0.6;
}

.results a:active {
	color: #000000;
}

.sort-list {
	display: flex;
	justify-content: space-between;
	width: 280px;
}

.decrease-ascending {
	display: flex;
	justify-content: space-between;
	width: 60px;
}

.templates {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	width: 760px;
}

.description {
	background-color: #eeeeee;
}

.description h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	
	color: #000000;
	text-transform: uppercase;
}

.description p {
	line-height: 18px;
	color: #666666;
}

.pagination-list {
	display: flex;
	justify-content: space-between;
	width: 450px;
	margin-right: 5px;
	list-style: none;
}

.pagination-item a {
	line-height: 18px;
	font-weight: 500;
	
	color: #000000;
	background-color: #eeeeee;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	color: #000000;
	opacity: 0.3;
	background-color: #d5d5d5;
}

.pagination-item-current a {
	background-color: #ffffff;
	border: 2px solid #eeeeee;
}

.pagination-item-current a:hover,
.pagination-item-current a:active {
	background-color: #ffffff;
	border: 2px solid #eeeeee;
}

.footer-contacts {
	background-color: #ffffff;
}

.results {
	list-style: none;
}

.footer-contacts h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.footer-contacts p {
	line-height: 18px;
}

.footer-social {
	list-style: none;
	
	text-align: center;
}

.social-button {
	color: #ffffff;
	background-color: #e1e1e1;
}

.social-button:hover {
	background-color: #e74246;
}

.social-button:active {
	color: #ffffff;
	opacity: 0.3;
	
	background-color: #d7373b;
}

.main-footer b {
	font-size: 36px;
	line-height: 36px;
}

.discount {
	line-height: 22px;
}

.modal-letter {
	background-color: #ffffff;
}

.modal-letter h2 {
	font-size: 45px;
	line-height: 45px;
}

.letter-form p {
	line-height: 18px;
	font-weight: 700;
}

.letter-form input[type="text"],
.letter-form input[type="email"],
.letter-form textarea {
	font: inherit;
	line-height: 18px;
	font-weight: 400;
	
	color: #444444;
	opacity: 0.5;
	
	border: 2px solid #d7dcde;
}

.letter-form input[type="text"]:hover,
.letter-form input[type="email"]:hover,
.letter-form textarea:hover {
	border: 2px solid #b4b9bb;
}

.letter-form input[type="text"]:focus,
.letter-form input[type="email"]:focus,
.letter-form textarea:focus {
	border: 2px solid #000000;
}

.letter-form input[type="text"]:invalid,
.letter-form input[type="email"]:invalid,
.letter-form textarea:invalid {
	border: 2px solid #e74246;
}

.button-close {
	font: inherit;
	color: #fecccd;
	background-color: #ffffff;
}

.button-close:hover {
	color: #fb565a;
	background-color: #ffffff;
}

.button-close:active {
	color: #ffeeee;
	background-color: #ffffff;
}